@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #0A1222;
}

.main-container{
    width: 100%;  
}
button{
    cursor: pointer;
}

/*------------------------------------------------ Header section design start */
.header-section{
    position: absolute;
    height: 84px;
    left: 0px;
    right: 0px;
    top: 0px;
    backdrop-filter: blur(40px);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 84px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    width: 1280px;

}

.header .logo-n-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-n-nav .logo{
    margin-right: 56px;
}

.logo-n-nav .nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo-n-nav .nav a{
    text-decoration: none;
}

.logo-n-nav .nav a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D0D5DD;
    margin: 0 16px;
}

.logo-n-nav .nav a:first-child{
    margin:0 16px 0 0;
}

.logo-n-nav .nav a:last-child{
    margin:0 0 0 16px;
}

.header .action-btns{
    display: flex;
}

.header .action-btns a:first-child{
    margin: 0 6px 0 0;
}
.header .action-btns a:last-child{
    margin: 0 0 0 6px;
}

.header .action-btns button{
    padding: 10px 18px;
    border-radius: 8px;
    margin: 0px 0px;
    background:none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.header .action-btns a:last-child button{
    padding: 12px 20px;
    background: #663399;
    border: 1px solid #663399;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/* ----------------------------------------Header section design end */


/* ----------------------------------------Hero section design start */

.hero-section{
    color: white;
    width: 100%;
    padding: 226px 0 332px 0;
}

.hero-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
}

.hero-header{
    margin-bottom: 24px;
}

.hero-header p{
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.02em;
}

.hero-description{
    margin-bottom:48px;
}


.hero-description p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.hero-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-actions .hero-btn{
    border-radius: 8px;
    background-color: rgb(102, 51, 153);
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 16px 28px;
    text-decoration: none;

}

.hero-actions .hero-btn:first-child{
    margin-right: 12px;
}

a.hero-help-btn {
    display: flex;
}
.hero-help-btn{
    background:none !important;
}

.hero-help-btn img{
    margin-right: 12px;
}



.wave-line-17{
    position: absolute;
    left: 0px;
    top: 485px;
    width: 100%;
    z-index: -1;
}

.wave-line-16{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
/* ----------------------------------------Hero section design end */

/* ----------------------------------------Common components design start */

.section-header{
    margin-bottom: 64px;
}
.section-heading{
    margin-bottom: 16px;
}

.section-title{
    margin-bottom: 12px;
}

.section-title p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #8F6DC0;
}

.section-heading{
    margin-bottom: 20px;
}

.section-heading p{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.section-description p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #D0D5DD;
}
/* ----------------------------------------Common components design end */


/* ----------------------------------------Product section design start */

.product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 80px;
    width: 100%;
}

.product-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #1D2239 0%, #1D1E39 100%);
    border-radius: 16px;
    padding: 40px 32px;
    margin: 20px;
}
.product:first-child{
    margin: 0 20px 0 0;
}

.product:last-child{
    margin: 0 0 0 20px;
}

.product-name{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.product-name{
    margin-bottom: 16px;
}

.product-description{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #D0D5DD;
}


.hr-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;


    width: 314.67px;
    height: 1px;


    background: #475467;
    margin: 24px 0px;
}


.attribs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 24px;
    
}

.product-attrib-cagr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 141.34px;
    height: 52px;
}




.product-cagr-key p{

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    color: #667085;

}

.product-cagr-value{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-cagr-value p{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #12B76A;
}

.product-attrib2-text{
    margin: 4px 0px;
}

.product-attrib2-text p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin: 4px 0px;
}


.product-risk-key p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.product-risk-value p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #12B76A;
    border-radius: 16px;
}


.product-buttons button{
    padding: 10px 18px;
    background: #344054;
    color: white;
    border: 1px solid #344054;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 100%;

}

.product-buttons{
    width: 100%;
}


.visit-marketplace-link{
    display: flex;
    justify-content: center;
}

.visit-marketplace-link a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 16px 28px;
    display: flex;
    align-items: center;
}
.visit-marketplace-link a img{
    margin-left: 12px;
}

/* ----------------------------------------Product section design end */





/* ----------------------------------------Values section design start */

.values-section{
    padding: 151px 0;
    width: 100%;
    background-image: url('./assets/svgs/values-bg.svg');
    background-repeat: no-repeat;
}

.values-section .container .section-header{
    margin-bottom: 72px;
}

.values-section .container{
    width: 1280px;
    margin: 0 auto;
}

.outer-value-list{
    padding: 0 64px;
}

.value-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value-list .row{
    display: flex;
}
.value-list .row:first-child{
    margin-bottom: 64px;
}
.value-list .row .value:first-child{
    margin-right: 48px;
}

.value{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 560px;
}


.value img{
    margin-right: 32px;
}


.value-heading p{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.value-description p{

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #D0D5DD;
}

/* ----------------------------------------Values section design end */



/* ----------------------------------------------------pricing section design start */


.pricing{
    background: #161631;
    padding-top: 96px;

}

.pricing .section-header{
    margin-bottom: 0px;
}


.pricing .container{
    width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.pricing-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    margin-bottom: 60px;    
}

.pricing-title p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #8F6DC0;
}

.pricing-description{
    margin: 16px 0px;
}

.pricing-description p{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.pricing-description1 p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #D0D5DD;
}


.price-detail{
    padding: 0px 32px;
    width: 1280px;
}

.boxes{
    display: flex;
    flex-direction: row;
    width: 1216px;
    margin-bottom: 48px;
}

.box{
    margin: 0px 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, #1D2239 0%, #1D1E39 100%);
    width: 384px;
}
.box:first-child{
    margin: 0 16px 0 0;
}
.box:last-child{
    margin: 0 0 0 16px;
}
.inner-box{
    /* height: 426px; */
    border-radius: 16px;
    background-repeat: no-repeat;
}

.box:nth-child(1) .inner-box{
    background-image: url("./assets/svgs/pricing-card-bg-1.svg");
}

.box:nth-child(2) .inner-box{
    background-image: url("./assets/svgs/pricing-card-bg-2.svg");
}


.box:nth-child(3) .inner-box{
    background-image: url("./assets/svgs/pricing-card-bg-3.svg");

}

.plan-desc{
    padding: 16px 32px 32px;
}

.box-title{

    padding: 24px 8px 8px;
}

.box-title p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: 600;
}


.box:first-child .box-title p{   
    color: #FD853A;
}

.box:nth-child(2) .box-title p{
    color: #EAECF0;
}

.box:last-child .box-title p{
    color: #FEF0C7;
}

.plan{
    margin-bottom: 8px;
}

.plan p{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.plan-detail p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.plan-help-text p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.plan-help-data p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.plan-help-text1 p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.plan-help-data1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFD;
}

.box-hr hr{
    border: 1px solid #475467;
    margin: 24px 0;
}

.pricing .feature-section h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.pricing .features-list .sub-list{
    width: 389px;
    margin: 0 12px;
}

.pricing .features-list .sub-list:first-child{
    margin: 0 12px 0 0;
}
.pricing .features-list .sub-list:last-child{
    margin: 0 0 0 12px;
}

.pricing .sub-list .feature:first-child{
    margin-bottom: 16px;
}

.pricing .feature-section .features-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pricing .feature-section .feature{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.pricing .feature-section .feature img{
    margin-right: 12px;
}
/* ----------------------------------------------------pricing section design end */



/* ----------------------------------------Get started section design start */

.get-started-section{
    width: 100%;
    margin: 72px 0 96px 0;
}

.get-started-section .container{
    width:1280px;
    padding: 0 32px;
    margin: 0 auto;
}

.get-started-section .content-section{
    background: #3A2B66;
    border-radius: 16px;
    padding: 48px;
    color: #F2F4F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-started-section .content h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
}
.get-started-section .content p{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #F2F4F7;
}

.get-started-section .action-btn button{
    padding: 12px 20px;


    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;


    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}

/* ----------------------------------------Get started section design end */


/* ----------------------------------------Footer section design start */

.footer-section{
    background: #101828;
    padding: 48px 0;
    width: 100%;
}

.footer-section .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;

    width: 1280px;
    margin: 0 auto;
    color: #fff;
}

.footer-section .logo-n-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-section .logo-n-links .logo-section{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 52%;
}

.footer-section .logo{
    margin-bottom: 16px;
}

.footer-section .supporting-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #EAECF0;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-section .supporting-text p:first-child {
    margin-bottom: 16px;
}


.footer-section .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}


.footer-section a{
    text-decoration: none;
    color: #EAECF0;
}

.footer-section .links a{
    margin:0 12px;
}

.footer-section .links a:first-child{
    margin:0 24px 0 0;
}

.footer-section .links a:last-child{
    margin:0 0 0 24px;
}

.footer-section hr {
    width: 100%;
    border: 1px solid #475467;
    margin: 32px 0px;
}

.footer-section .social-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-section .social-section p{
    color: #98A2B3;
}

/* ----------------------------------------Footer section design end */
